---
BasedOnStyle: Mozilla
AccessModifierOffset: '-1'
AlignTrailingComments: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakAfterJavaFieldAnnotations: 'true'
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: 'true'
BreakConstructorInitializers: AfterColon
ColumnLimit: '80'
DerivePointerAlignment: 'false'
IndentCaseLabels: 'true'
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: 'false'
MaxEmptyLinesToKeep: '1'
PenaltyBreakAssignment: '5'
PenaltyBreakComment: '5'
PenaltyBreakString: '5'
PenaltyExcessCharacter: '100'
PenaltyReturnTypeOnItsOwnLine: '10'
PointerAlignment: Left
ReflowComments: 'true'
SpaceBeforeAssignmentOperators: 'true'
SpacesBeforeTrailingComments: '1'
SpacesInAngles: 'false'
SpacesInContainerLiterals: 'false'
Standard: Cpp11
CommentPragmas:  '^\\.+'
...
